<extend name="Backstage/base" />
<block name="title">
	<title>库存管理</title>
</block>
<block name="content">
<div class="admin-biaogelist">

    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on"> 栏目名称</ul>

      <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 > <a href="__APP__/HMadmin/Goods/Index">商品列表</a></dl>

      <dl>
        <a href="javascript:;"><button type="button" class="am-btn am-btn-danger am-round am-btn-xs"> 添加页面</button></a>
      </dl>

    </div>
    <div class="fbneirong">
    <form class="am-form am-g" action="__CONTROLLER__/addMemcha" method="post">
        <div class="am-form-group am-cf">
          <div class="zuo">/商品名：</div>
          <div class="you">
            <select name="gid">
            <foreach name="data" item="vo">
              <option value="{$vo.id}">{$vo.name}</option>
            </foreach>
            </select>
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="zuo">/年：</div>
          <div class="you">
            <input type="number" class="am-input-sm" name="year" placeholder="不大于500">
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="zuo">/月：</div>
          <div class="you">
            <input type="number" class="am-input-sm" name="month">
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="zuo">/时：</div>
          <div class="you">
            <input type="number" class="am-input-sm" name="hour">
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="zuo">/分：</div>
          <div class="you">
            <input type="number" class="am-input-sm" name="min">
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="zuo">/秒：</div>
          <div class="you">
            <input type="number" class="am-input-sm" name="s">
          </div>
        </div>
        <input type="hidden" name="id" value="{$id}">
        <div class="am-form-group am-cf">
          <div class="you" style="margin-left: 11%">
              <button type="submit" class="am-btn am-btn-success am-radius">添加</button>
          </div>
        </div>

    </form>
    </div>


</block>
