<extend name="Base:base" />

    <block name="title"><title>H&M</title></block>

    <block name="main"> 
        <main role="main" class="responsive segments">
                <!--AEMPUBPRDAP16-->
            <div class="layout">
                <div class="parsys main">
                    <section class="segment section singleteasercontainer">
                    	                    		
                        <article class="default-m-serif  teaser-media  single-cta" data-item-ratio="16x9" style="position:relative;" data-view-tracking="true" data-activity-type="CAMPAIGN" data-activity-code="8NB" data-promotion-creative="8NB Teaser Page prio 1" id="track_832536">
                            <a href="{$mainPic.url}" data-cta-tracking="true" target="_self" class="hidden-text cta-overlay">即刻选购</a>
                        	
                          <div class="background-image teaser-image rimd">

                            <img src="__PUBLIC__/{$mainPic.pic}"> <!-- 首页大图 -->
                          </div>

                 <!-- 大图描述1 -->
                                <div class="text-container" data-text-placement="{$mainPic.hor} {$mainPic.ver}" data-text-alignment="{$mainPic.align}" data-text-color="{$mainPic.fontcolor}">
                                	<p class="vignette">{$mainPic.smalltitle}</p>
                                	
                                	<h3 class="heading">{$mainPic.bigtitle}</h3>
                                	
                                	
                                	<ul class="cta-list" data-cta-color="{$mainPic.btncolor}">
                                		<li class="item"><a href="{$mainPic.url}" data-cta-tracking="true" class="cta button" target="_self">即刻选购</a>
                                        </li>
                                	</ul>
                                </div>
                <!--大图描述结束-->
                       </article>	  
                    </section>

                <div class="parbase newarrivalscontainer section">  <!-- 第二版图片 -->


                    <section class="segment new-arrivals">  

                        <h2 class="heading">新品</h2>

                        <div class="four modules">
                          
                            <div class="department-product-item">
                              <article class="product-item" data-articlecode="0484891003" data-newarrivals-first-article="true" data-activity-type="MERCH" data-activity-code="NEWS_161102" data-promotion-creative="new arrivals 17-03-22" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;, &#39;0484891003&#39;);"><!-- Product item -->
                    				<a href="http://www2.hm.com/zh_cn/productpage.0484891003.html" data-cta-tracking="false" title="双层雪纺上衣" class="product-item-link">
                    	               <img width="260" height="390" alt="双层雪纺上衣" class="product-item-image" src="__PUBLIC__/show/hmprod(1)" title="双层雪纺上衣">
                    	               <button data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0484891003|双层雪纺上衣|HM" type="button" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>
                    	            </a>
                    	            <div class="product-item-details">
                    	            	<h3 class="product-item-heading">
                    			    		<a href="http://www2.hm.com/zh_cn/productpage.0484891003.html" data-cta-tracking="false">双层雪纺上衣</a>
                    		        	</h3>
                    		        	<strong class="price">¥249.00</strong>
                    	            </div>
                               </article><!-- /Product item -->
                               <a href="http://www2.hm.com/zh_cn/ladies/new-arrivals/clothes.html" class="cta button" data-cta-tracking="true" data-promotion-page-id="Ladies : New Arrivals : Clothing : Viewall" data-promotion-page-category="LADIES_NEW ARRIVALS : CLOTHING_CLOTHING : VIEWALL_VIEW_ALL">即刻选购</a>
                             </div>
                          
                            <div class="department-product-item">
                              <article class="product-item" data-articlecode="0504168001" data-newarrivals-first-article="false" data-activity-type="MERCH" data-activity-code="NEWS_161102" data-promotion-creative="new arrivals 17-03-22" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;, &#39;0504168001&#39;);"><!-- Product item -->
                    				<a href="http://www2.hm.com/zh_cn/productpage.0504168001.html" data-cta-tracking="false" title="提花梭织紧身胸衣" class="product-item-link">
                    	               <img width="260" height="390" alt="提花梭织紧身胸衣" class="product-item-image" src="__PUBLIC__/show/hmprod(2)" title="提花梭织紧身胸衣">
                    	               <button data-tracking-type="event" data-tracking-json-template="utagFavorite" type="button" class="favorite icon icon-favorites js-favorite is-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>
                    	            </a>
                    	            <div class="product-item-details">
                    	            	<h3 class="product-item-heading">
                    			    		<a href="http://www2.hm.com/zh_cn/productpage.0504168001.html" data-cta-tracking="false">提花梭织紧身胸衣</a>
                    		        	</h3>
                    		        	<strong class="price">¥199.00</strong>
                    	            </div>
                               </article><!-- /Product item -->
                               <a href="http://www2.hm.com/zh_cn/ladies/new-arrivals/clothes.html" class="cta button" data-cta-tracking="true" data-promotion-page-id="Ladies : New Arrivals : Clothing : Viewall" data-promotion-page-category="LADIES_NEW ARRIVALS : CLOTHING_CLOTHING : VIEWALL_VIEW_ALL">即刻选购</a>
                             </div>
                          
                            <div class="department-product-item">
                            <article class="product-item" data-articlecode="0524124002" data-newarrivals-first-article="false" data-activity-type="MERCH" data-activity-code="NEWS_161102" data-promotion-creative="new arrivals 17-03-22" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;, &#39;0524124002&#39;);"><!-- Product item -->
                    				<a href="http://www2.hm.com/zh_cn/productpage.0524124002.html" data-cta-tracking="false" title="褶边上衣" class="product-item-link">
                    	               <img width="260" height="390" alt="褶边上衣" class="product-item-image" src="__PUBLIC__/show/hmprod(3)" title="褶边上衣">
                    	               <button data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0524124002|褶边上衣|HM" type="button" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>
                    	            </a>
                    	            <div class="product-item-details">
                    	            	<h3 class="product-item-heading">
                    			    		<a href="http://www2.hm.com/zh_cn/productpage.0524124002.html" data-cta-tracking="false">褶边上衣</a>
                    		        	</h3>
                    		        	<strong class="price">¥399.00</strong>
                    	            </div>
                            </article><!-- /Product item -->
                               <a href="http://www2.hm.com/zh_cn/ladies/new-arrivals/clothes.html" class="cta button" data-cta-tracking="true" data-promotion-page-id="Ladies : New Arrivals : Clothing : Viewall" data-promotion-page-category="LADIES_NEW ARRIVALS : CLOTHING_CLOTHING : VIEWALL_VIEW_ALL">即刻选购</a>
                             </div>
                          
                            <div class="department-product-item">
                              <article class="product-item" data-articlecode="0482832001" data-newarrivals-first-article="false" data-activity-type="MERCH" data-activity-code="NEWS_161102" data-promotion-creative="new arrivals 17-03-22" onclick="setOsaParameters(utag_data.category_id,&#39;NEW_ARRIVALS&#39;, &#39;0482832001&#39;);"><!-- Product item -->
                    				<a href="http://www2.hm.com/zh_cn/productpage.0482832001.html" data-cta-tracking="false" title="绑带棉质衬衫" class="product-item-link">
                    	               <img width="260" height="390" alt="绑带棉质衬衫" class="product-item-image" src="__PUBLIC__/show/hmprod(4)" title="绑带棉质衬衫">
                    	               <button data-tracking-type="event" data-tracking-json-template="utagFavorite" data-tracking-params="Favourites|0482832001|绑带棉质衬衫|HM" type="button" class="favorite icon icon-favorites js-favorite" data-saved-text="已加入收藏" data-not-saved-text="加入收藏">加入收藏</button>
                    	            </a>
                    	            <div class="product-item-details">
                    	            	<h3 class="product-item-heading">
                    			    		<a href="http://www2.hm.com/zh_cn/productpage.0482832001.html" data-cta-tracking="false">绑带棉质衬衫</a>
                    		        	</h3>
                    		        	<strong class="price">¥299.00</strong>
                    	            </div>
                               </article><!-- /Product item -->
                               <a href="http://www2.hm.com/zh_cn/ladies/new-arrivals/clothes.html" class="cta button" data-cta-tracking="true" data-promotion-page-id="Ladies : New Arrivals : Clothing : Viewall" data-promotion-page-category="LADIES_NEW ARRIVALS : CLOTHING_CLOTHING : VIEWALL_VIEW_ALL">即刻选购</a>
                             </div>     
                        </div>
                    </section>


                </div>
                <section class="segment section"><!-- 第三版/ -->
                	
                	<div class="two modules">
                		<article class="default-m-sans  teaser-media  single-cta" data-item-ratio="2x3" style="position:relative;" data-view-tracking="true" data-activity-type="CAMPAIGN" data-activity-code="8NA" data-promotion-creative="8NA Teaser Page Prio 1" id="track_832537"><a href="{$lastPic[0]['url']}" data-cta-tracking="true" target="_self" class="hidden-text cta-overlay">即刻选购</a>

                            
                	<div class="background-image teaser-image rimd">
                 
                        <img src="__PUBLIC__/{$lastPic[0]['pic']}">
                    </div>
                    	<div class="text-container" data-text-placement="{$lastPic[0]['hor']} {$lastPic[0]['ver']}" data-text-alignment="{$lastPic[0]['align']}" data-text-color="{$lastPic[0]['fontcolor']}">
                    	
                    	<p class="vignette">{$lastPic[0]['smalltitle']}</p>
                                    
                        <h3 class="heading">{$lastPic[0]['bigtitle']}</h3>
                    	
                    	
                    	
                    	<ul class="cta-list" data-cta-color="{$lastPic[0]['btncolor']}">
                    		<li class="item"><a href="{$lastPic[0]['url']}" data-cta-tracking="true" class="cta button" target="_self">即刻选购</a></li>
                    	</ul>
                        </div>
                    </article>
                	
                		<article class="merch-ladder-plate teaser-media " data-item-ratio="2x3" data-view-tracking="false" data-activity-type="MERCH" data-activity-code="CN31_QINGMING" data-promotion-creative="CN31 QINGMING"><a href="{$lastPic[1]['url']}" data-cta-tracking="true" target="_self" class="hidden-text cta-overlay">即刻选购</a>
                	<div class="background-image teaser-image rimd">
                 
                        <img src="__PUBLIC__/{$lastPic[1]['pic']}">
                    </div>
                        <div class="text-container" data-text-placement="{$lastPic[1]['hor']} {$lastPic[1]['ver']}" data-text-alignment="{$lastPic[1]['align']}" data-text-color="{$lastPic[1]['fontcolor']}">
                        
                        <p class="vignette">{$lastPic[1]['smalltitle']}</p>
                                    
                        <h3 class="heading">{$lastPic[1]['bigtitle']}</h3>
                        
                        
                        
                        <ul class="cta-list" data-cta-color="{$lastPic[1]['btncolor']}">
                            <li class="item"><a href="{$lastPic[1]['url']}" data-cta-tracking="true" class="cta button" target="_self">即刻选购</a></li>
                        </ul>
                        </div>
                    </article>
                    	</div>
                    	
                </section> <!--第三结束-->



                <section class="segment section"> <!--第四开始-->
                	
                	<div class="three modules">
                    	<article class="merch-sgi-bottom teaser-media  single-cta" data-item-ratio="2x3" data-view-tracking="true" data-activity-type="MERCH" data-activity-code="CNL12_SEASONSSHIRTS_WEEK13" data-promotion-creative="Shirts and Blouses Week 13" id="track_832538">
                        <a href="{$lastPic[2]['url']}" data-promotion-page-id="Ladies : Offersandhighlights : Cnl12 - Seasons Shirts : Seasons shirts" data-promotion-page-category="LADIES_OFFERSANDHIGHLIGHTS : CNL12 - SEASONS SHIRTS_CNL12 - SEASONS SHIRTS : SEASONS SHIRTS_VIEW_ALL" data-cta-tracking="true" target="_self" class="hidden-text cta-overlay">即刻选购</a>
                        	<div class="background-image teaser-image rimd">
                 
                        <img src="__PUBLIC__/{$lastPic[2]['pic']}">
                    </div>
                        <div class="text-container" data-text-placement="{$lastPic[2]['hor']} {$lastPic[2]['ver']}" data-text-alignment="{$lastPic[2]['align']}" data-text-color="{$lastPic[2]['fontcolor']}">
                        
                        <p class="vignette">{$lastPic[2]['smalltitle']}</p>
                                    
                        <h3 class="heading">{$lastPic[2]['bigtitle']}</h3>
                        
                        
                        
                        <ul class="cta-list" data-cta-color="{$lastPic[2]['btncolor']}">
                            <li class="item"><a href="{$lastPic[2]['url']}" data-cta-tracking="true" class="cta button" target="_self">即刻选购</a></li>
                        </ul>
                        </div>
                        </article>
                    	
                        <article class="default-m-sans  teaser-media  single-cta" data-item-ratio="2x3" style="position:relative;" data-view-tracking="true" data-activity-type="CAMPAIGN" data-activity-code="8NC" data-promotion-creative="8NC Teaser page part 1" id="track_832539"><a href="{$lastPic['3']['url']}" data-cta-tracking="true" target="_self" class="hidden-text cta-overlay">阅读更多</a>
                            	<div class="background-image teaser-image rimd">
                 
                        <img src="__PUBLIC__/{$lastPic[3]['pic']}">
                    </div>
                        <div class="text-container" data-text-placement="{$lastPic[3]['hor']} {$lastPic[3]['ver']}" data-text-alignment="{$lastPic[3]['align']}" data-text-color="{$lastPic[3]['fontcolor']}">
                        
                        <p class="vignette">{$lastPic[3]['smalltitle']}</p>
                                    
                        <h3 class="heading">{$lastPic[3]['bigtitle']}</h3>
                        
                        
                        
                        <ul class="cta-list" data-cta-color="{$lastPic[3]['btncolor']}">
                            <li class="item"><a href="{$lastPic[3]['url']}" data-cta-tracking="true" class="cta button" target="_self">即刻选购</a></li>
                        </ul>
                        </div>
                        </article>
                        	
                        <article class="default-m-sans  teaser-media  single-cta" data-item-ratio="2x3" style="position:relative;" data-view-tracking="true" data-activity-type="CAMPAIGN" data-activity-code="8NE" data-promotion-creative="8NE Teaser page" id="track_832540"><a href="{$lastPic[4]['url']}" data-promotion-page-id="Men : Shopbyfeature : 8Ne - Modern Casual" data-promotion-page-category="MEN_SHOPBYFEATURE _8NE - MODERN CASUAL" data-cta-tracking="true" target="_self" class="hidden-text cta-overlay">即刻选购</a>
                            	<div class="background-image teaser-image rimd">
                 
                        <img src="__PUBLIC__/{$lastPic[4]['pic']}">
                    </div>
                        <div class="text-container" data-text-placement="{$lastPic[4]['hor']} {$lastPic[4]['ver']}" data-text-alignment="{$lastPic[4]['align']}" data-text-color="{$lastPic[4]['fontcolor']}">
                        
                        <p class="vignette">{$lastPic[4]['smalltitle']}</p>
                                    
                        <h3 class="heading">{$lastPic[4]['bigtitle']}</h3>
                        
                        
                        
                        <ul class="cta-list" data-cta-color="{$lastPic[4]['btncolor']}">
                            <li class="item"><a href="{$lastPic[4]['url']}" data-cta-tracking="true" class="cta button" target="_self">即刻选购</a></li>
                        </ul>
                        </div>
                        </article>
                	</div>
                	
                </section><!--第四部开始-->
                <section class="segment section singleteasercontainer">
                	
                	
                		
                	<article class="default-m-sans  teaser-media  single-cta" data-item-ratio="3x2" style="position:relative;" data-view-tracking="true" data-activity-type="CAMPAIGN" data-activity-code="8NK" data-promotion-creative="8NK Teaser Page" id="track_832541"><a href="{$lastPic[5]['url']}" data-promotion-page-id="Kids : Shopbyconcept : Basics : Viewall" data-promotion-page-category="KIDS_SHOPBYCONCEPT : BASICS_BASICS : VIEWALL_VIEW_ALL" data-cta-tracking="true" target="_self" class="hidden-text cta-overlay">即刻选购</a>
                	
                    	<div class="background-image teaser-image rimd">
                 
                        <img src="__PUBLIC__/{$lastPic[5]['pic']}">
                    </div>
                        <div class="text-container" data-text-placement="{$lastPic[5]['hor']} {$lastPic[5]['ver']}" data-text-alignment="{$lastPic[5]['align']}" data-text-color="{$lastPic[5]['fontcolor']}">
                        
                        <p class="vignette">{$lastPic[5]['smalltitle']}</p>
                                    
                        <h3 class="heading">{$lastPic[5]['bigtitle']}</h3>
                        
                        
                        
                        <ul class="cta-list" data-cta-color="{$lastPic[5]['btncolor']}">
                            <li class="item"><a href="{$lastPic[5]['url']}" data-cta-tracking="true" class="cta button" target="_self">即刻选购</a></li>
                        </ul>
                        </div>
                    </article>
                	
                </section>
                <section class="segment section">
                    <h2 class="heading">发现 H&amp;M</h2> <!-- 发现HM -->
                    <div class="three modules">
                        <article class="merch-deal-middle-plate teaser-media  single-cta" data-item-ratio="2x3" data-view-tracking="true" data-activity-type="MERCH" data-promotion-creative="Newsletter" id="track_832542">
                                <a href="{$lastPic[6]['url']}" data-promotion-page-id="CUSTOMER_SERVICE_NEWSLETTER" data-promotion-page-category="CUSTOMER_SERVICE_NEWSLETTER" data-cta-tracking="true" target="_self" class="hidden-text cta-overlay">即刻选购</a>
                        	<div class="background-image teaser-image rimd">
                 
                        <img src="__PUBLIC__/{$lastPic[6]['pic']}">
                    </div>
                        <div class="text-container" data-text-placement="{$lastPic[6]['hor']} {$lastPic[6]['ver']}" data-text-alignment="{$lastPic[6]['align']}" data-text-color="{$lastPic[6]['fontcolor']}">
                        
                        <p class="vignette">{$lastPic[6]['smalltitle']}</p>
                                    
                        <h3 class="heading">{$lastPic[6]['bigtitle']}</h3>
                        
                        
                        
                        <ul class="cta-list" data-cta-color="{$lastPic[6]['btncolor']}">
                            <li class="item"><a href="{$lastPic[6]['url']}" data-cta-tracking="true" class="cta button" target="_self">即刻选购</a></li>
                        </ul>
                        </div>
                        </article>
                    	
                        <article class="merch-customer-deal-small-top teaser-media " data-item-ratio="2x3" data-view-tracking="false" data-activity-type="MERCH" data-promotion-creative="Wechat Follow Us">
                        	<div class="background-image teaser-image rimd">
                 
                        <img src="__PUBLIC__/{$lastPic[7]['pic']}">
                    </div>
                        <div class="text-container" data-text-placement="{$lastPic[7]['hor']} {$lastPic[7]['ver']}" data-text-alignment="{$lastPic[7]['align']}" data-text-color="{$lastPic[7]['fontcolor']}">
                        
                        <p class="vignette">{$lastPic[7]['smalltitle']}</p>
                                    
                        <h3 class="heading">{$lastPic[7]['bigtitle']}</h3>
                        
                        
                        
                        <ul class="cta-list" data-cta-color="{$lastPic[7]['btncolor']}">
                            <li class="item"><a href="{$lastPic[7]['url']}" data-cta-tracking="true" class="cta button" target="_self">即刻选购</a></li>
                        </ul>
                        </div>
                        </article>
                        	
                        <article class="merch-deal-small-top teaser-media  single-cta" data-item-ratio="2x3" data-view-tracking="true" data-activity-type="MERCH" data-promotion-creative="Download the app" id="track_832543">
                                <a href="{$lastPic[8]['url']}" data-promotion-page-id="Customer Service Downloadapp (View All)" data-promotion-page-category="CUSTOMER_SERVICE_DOWNLOADAPP" data-cta-tracking="true" target="_self" class="hidden-text cta-overlay">阅读更多</a>
                                <div class="background-image teaser-image rimd">
                 
                        <img src="__PUBLIC__/{$lastPic[8]['pic']}">
                    </div>
                        <div class="text-container" data-text-placement="{$lastPic[8]['hor']} {$lastPic[8]['ver']}" data-text-alignment="{$lastPic[8]['align']}" data-text-color="{$lastPic[8]['fontcolor']}">
                        
                        <p class="vignette">{$lastPic[8]['smalltitle']}</p>
                                    
                        <h3 class="heading">{$lastPic[8]['bigtitle']}</h3>
                        
                        
                        
                        <ul class="cta-list" data-cta-color="{$lastPic[8]['btncolor']}">
                            <li class="item"><a href="{$lastPic[8]['url']}" data-cta-tracking="true" class="cta button" target="_self">即刻选购</a></li>
                        </ul>
                        </div>
                        </article>
                    </div>
                    	
                </section>
                <section class="segment section singleteasercontainer">
                	
                	
                		
                    <article class="default-m-serif  teaser-media  single-cta" data-item-ratio="3x2" style="position:relative;" data-view-tracking="true" data-activity-type="LIFE" data-activity-code="IN LOVE WITH LULAMA" data-promotion-creative="Magazine_w12_InLoveWithLulama" id="track_832544">
                        <a href="{$lastPic[9]['url']}" data-cta-tracking="true" target="_self" class="hidden-text cta-overlay">阅读更多</a>
                        	
                        	<div class="background-image teaser-image rimd">
                 
                        <img src="__PUBLIC__/{$lastPic[9]['pic']}">
                    </div>
                        <div class="text-container" data-text-placement="{$lastPic[9]['hor']} {$lastPic[9]['ver']}" data-text-alignment="{$lastPic[9]['align']}" data-text-color="{$lastPic[9]['fontcolor']}">
                        
                        <p class="vignette">{$lastPic[9]['smalltitle']}</p>
                                    
                        <h3 class="heading">{$lastPic[9]['bigtitle']}</h3>
                        
                        
                        
                        <ul class="cta-list" data-cta-color="{$lastPic[9]['btncolor']}">
                            <li class="item"><a href="{$lastPic[9]['url']}" data-cta-tracking="true" class="cta button" target="_self">即刻选购</a></li>
                        </ul>
                        </div>
                    </article>
                		
                </section>
                </div>
            </div>
                	              
        </main>

    </block>

	
