<extend name="Base:base" />

<block name="title"><title>H&M门店信息</title></block>
 <block name="main"> 	    
<main role="main"><!-- Main -->
<!--AEMPUBPRDAP13-->
	<div class="wrapper">
	    <div class="breadcrumb">

		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=teuGiaztnP8DkWPj0XQdPEd6z5bjKDra"></script>

		<nav class="breadcrumbs">
			<!-- Breadcrumbs -->
			<ul>
				<li><a href="">HM.com</a></li>
						
				<li><a href="" title="客户服务">客户服务 </a></li>
		
				<li><a href="" title="在H&M购物">在H&M购物 </a></li>
				<li>H&M门店信息</li>					
			</ul>			
		</nav>
		<!-- /Breadcrumbs -->
	</div>

		<div class="row">
	        <div class="grid col-3">
				<div class="left parsys iparsys">
				<div class="iparys_inherited">
				<div class="left parsys iparsys">
				<div class="leftcustomerservice parbase section">
					<nav class="section-menu customerservice "><!-- Section menu -->
						<ul>
							<li>
								<h2>
									<a href="/zh_cn/customer-service.html">
										客户服务
									</a>
								</h2>
								<div class="section-menu-sub-menu">
									<div class="section-menu-sub-menu-inner">
										<div class="section-menu-categories">
											
												<div class="section-menu-category sub 
												     current">
													在H&amp;M购物
													<ul>
															   <li class="">
					                                               <a href="/zh_cn/customer-service/shopping-at-hm/online-shopping.html" onclick="return false">
					                                                   在线购物
					                                               </a>
					                                               
					                                          </li>
					                                      
					                                          <li class="current">
					                                               <a href="/zh_cn/customer-service/shopping-at-hm/store-locator.html" onclick="return false">
					                                                   H&amp;M门店信息
					                                               </a>
					                                                    

					                                          </li>
					                                      
					                                          <li class="">
					                                               <a href="/zh_cn/customer-service/shopping-at-hm/scan-and-buy.html" onclick="return false">
					                                                   扫描购买
					                                               </a>
					                                               
					                                          </li>
					                                      
					                                  
													</ul>
												</div>
											
												<div class="section-menu-category  
												    ">
													<a href="/zh_cn/customer-service/payments-info.html" onclick="return false">支付</a>
													<ul>
				                                      
													</ul>
												</div>
											
												<div class="section-menu-category  
												    ">
													<a href="/zh_cn/customer-service/shippinganddelivery.html" onclick="return false">送货政策</a>
													<ul>
				                                      
													</ul>
												</div>
											
												<div class="section-menu-category sub 
												    ">
													<a href="/zh_cn/customer-service/returns.html" onclick="return false">退货</a>
													<ul>
				                                      
													</ul>
												</div>
											
												<div class="section-menu-category  
												    ">
													<a href="/zh_cn/customer-service/fapiao-request.html" onclick="return false">发票</a>
													<ul>
				                                      
													</ul>
												</div>
											
												<div class="section-menu-category  
												    ">
													<a href="/zh_cn/customer-service/download-app.html" onclick="return false">下载 APP</a>
													<ul>
				                                      
													</ul>
												</div>
											
												<div class="section-menu-category  
												    ">
													<a href="/zh_cn/customer-service/h-m-search-guide.html" onclick="return false">H&amp;M 搜索指南</a>
													<ul>
				                                      
													</ul>
												</div>
											
												<div class="section-menu-category sub 
												    ">
													<a href="/zh_cn/customer-service/gift-card.html"onclick="return false">礼品卡</a>
													<ul>
				                                      
													</ul>
												</div>
											
												<div class="section-menu-category sub 
												    ">
													<a href="/zh_cn/customer-service/sizeguide.html" onclick="return false">尺寸指南</a>
													<ul>
				                                      
													</ul>
												</div>
											
												<div class="section-menu-category sub 
												    ">
													<a href="/zh_cn/customer-service/product-and-quality.html" onclick="return false">产品&amp;质量</a>
													<ul>
				                                      
													</ul>
												</div>
											
												<div class="section-menu-category  
												    ">
													<a href="/zh_cn/customer-service/sustainability.html"  onclick="return false">我们的职责</a>
													<ul>
				                                      
													</ul>
												</div>
											
												<div class="section-menu-category sub 
												    ">
													<a href="/zh_cn/customer-service/legal-and-privacy.html"onclick="return false">合法&amp;隐私</a>
													<ul>
				                                      
													</ul>
												</div>
											
												<div class="section-menu-category  
												    ">
													<a href="/zh_cn/customer-service/contact.html" onclick="return false">联系</a>
													<ul>
				                                      
													</ul>
												</div>
											
												<div class="section-menu-category  
												    ">
													<a href="/zh_cn/customer-service/company-info.html" onclick="return false">企业讯息</a>
													<ul>
				                                      
													</ul>
												</div>
											
										</div>
									</div>
								</div>
							</li>
						</ul>
					</nav>
				</div>
				</div>
				</div>
				</div>
	
			</div>
			<div class="grid col-6">				
				<div class="parsys main">
					<div class="parbase storelocator section">

						<div class="store-locator-form">		
							<div class="article-contents">
								<h1>H&amp;M门店信息</h1>
							</div>		
									
						</div>
					</div>

					<div class="store-locator-map" id="allmap"></div>

				</div>
			</div>

		</div>

	</div>

	
		
	<script type="text/javascript">
		// 百度地图API功能	
				map = new BMap.Map("allmap");
				map.centerAndZoom(new BMap.Point(113.2759952545166, 23.117055306224895), 15);


				var data_info = [
								 [113.2759952545166 + ( Math.random()*0.4  - 0.08 ), 23.117055306224895 - (Math.random() * 0.2),"地址：广州市东区正义路甲5号"],

								];
				
					for (var i=1; i< 40 ; i++){

						data_info[i] = [113.2759952545166 + ( Math.random()*0.2  - 0.08 ), 23.117055306224895 - (Math.random() * 0.2),"地址：广州H&M"+i+"号店"]

					}
				var opts = {
							width : 250,     // 信息窗口宽度
							height: 80,     // 信息窗口高度
							title : "广州H&M门店" , // 信息窗口标题
							enableMessage:true//设置允许信息窗发送短息
						   };
				for(var i=0;i<data_info.length;i++){
					var marker = new BMap.Marker(new BMap.Point(data_info[i][0],data_info[i][1]));  // 创建标注
					var content = data_info[i][2];
					map.addOverlay(marker);               // 将标注添加到地图中
					addClickHandler(content,marker);
					marker.setAnimation(BMAP_ANIMATION_BOUNCE);

				}
				function addClickHandler(content,marker){
					marker.addEventListener("click",function(e){
						openInfo(content,e)}
					);
				}
				function openInfo(content,e){
					var p = e.target;
					var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
					var infoWindow = new BMap.InfoWindow(content,opts);  // 创建信息窗口对象 
					map.openInfoWindow(infoWindow,point); //开启信息窗口
				}
				map.addControl(new BMap.MapTypeControl());

				map.centerAndZoom(new BMap.Point(113.2759952545166, 23.117055306224895), 11);
				map.enableScrollWheelZoom(true);
	</script>


	
</main>
</block>