
<extend name="Base:base" />

    <block name="title"><title>H&M.Personal</title></block>

    <block name="main"> 

<main role="main" class="responsive my-hm">
	<div class="wrapper">    


		<nav class="breadcrumbs">
			<ul>
				<li>
				
					<a href="__APP__/Home/Index/index">HM.COM</a>
				</li>

				<li class="">

				<a href="javascript:;"> 您的订单</a>
							</li>
				<li class="active">

					<a href="#" onclick="return false;"> 评论</a>
				</li>
			</ul>
		</nav>
				
		
	<div class="layout layout-eight"id="profileDIV">

	    
	    <form class="form-section agile-form" method="post" id="profile">
	    	<input type="hidden" name="oid" value="{$comdata[0]['oid']}">
	    <foreach name="comdata" item="ov">
	        <fieldset class="form-part" style="padding: 10px">
	            <div style="overflow:hidden;border:1px solid #333;">

	            	<div style="width:100px;height:100px;float:left"><img src="__PUBLIC__/{$ov.pic}" alt="" width="100"></div>

	            	<div style="margin-left:20px;width:455px;height:100px;float:left">
	            		<h1 style="margin-top: 10px">{$ov.name}</h1>
	            		<h3 style="color:#ccc">{$ov.attr}</h3>
	            	</div>
	            </div>
	            <textarea placeholder="请输入您的评论..." name="comment[{$ov.gid}]" style="margin-top:20px;width:100%;height:150px;border:1px solid #333;"></textarea>
	                
               
	            
	        </fieldset>
	        </foreach>
			<button type="submit" class="button save-form text-input"  style="color:white" id="saveProfileDetails" > 提交评论</button>
	    </form>


	      

    	
            
	  
		</div>
	</div>
</main>
<script>
	$('form').submit(function () {
		var flag = true;
		$('button').next().remove();

		$('textarea').map(function () {
			if ($(this).val() == '') {
				$('button').next().remove();
				$('button').after('<p style="color: red">评论内容不能为空</p>');
				flag = false;			}
		});

		if (!flag) {
			return false;
		}
	});
</script>
</block>