<extend name="Base:base" />

<block name="title"> <title>订阅时尚资讯</title></block>
 <block name="main">



<main role="main"><!-- Main -->
<!--AEMPUBPRDAP12-->
    <div class="wrapper">
        <div class="breadcrumb">



	<nav class="breadcrumbs">
		<!-- Breadcrumbs -->
		<ul>
			<li><a href="__APP__/Home/Index/index">HM.com</a></li>
			
				
					
					
						<li>
								客户服务 </a></li>
					
				
			
				
					
						<li>订阅时尚资讯</li>
					
					
				
			
		</ul>
	</nav>
	<!-- /Breadcrumbs -->
</div>

        <div class="row">
            <div class="grid col-3">
                <div class="left parsys iparsys"><div class="section"><div class="new"></div>
</div><div class="iparys_inherited"><div class="left parsys iparsys"><div class="leftcustomerservice parbase section">
	<nav class="section-menu customerservice "><!-- Section menu -->
		<ul>
			<li>
				<h2>
					<a href="">
						客户服务
					</a>
				</h2>
				<div class="section-menu-sub-menu">
					<div class="section-menu-sub-menu-inner">
						<div class="section-menu-categories">
							
								<div class="section-menu-category sub 
								    ">
									<a href="">在H&amp;M购物</a>
									<ul>
                                      
									</ul>
								</div>
							
								<div class="section-menu-category  
								    ">
									<a href="">支付</a>
									<ul>
                                      
									</ul>
								</div>
							
								<div class="section-menu-category  
								    ">
									<a href="">送货政策</a>
									<ul>
                                      
									</ul>
								</div>
							
								<div class="section-menu-category sub 
								    ">
									<a href="">退货</a>
									<ul>
                                      
									</ul>
								</div>
							
								<div class="section-menu-category  
								    ">
									<a href="">发票</a>
									<ul>
                                      
									</ul>
								</div>
							
								<div class="section-menu-category  
								    ">
									<a href="">下载 APP</a>
									<ul>
                                      
									</ul>
								</div>
							
								<div class="section-menu-category  
								    ">
									<a href="">H&amp;M 搜索指南</a>
									<ul>
                                      
									</ul>
								</div>
							
								<div class="section-menu-category sub 
								    ">
									<a href="">礼品卡</a>
									<ul>
                                      
									</ul>
								</div>
							
								<div class="section-menu-category sub 
								    ">
									<a href="">尺寸指南</a>
									<ul>
                                      
									</ul>
								</div>
							
								<div class="section-menu-category sub 
								    ">
									<a href="">产品&amp;质量</a>
									<ul>
                                      
									</ul>
								</div>
							
								<div class="section-menu-category  
								    ">
									<a href="">我们的职责</a>
									<ul>
                                      
									</ul>
								</div>
							
								<div class="section-menu-category sub 
								    ">
									<a href="">合法&amp;隐私</a>
									<ul>
                                      
									</ul>
								</div>
							
								<div class="section-menu-category  
								    ">
									<a href="">联系</a>
									<ul>
                                      
									</ul>
								</div>
							
								<div class="section-menu-category  
								    ">
									<a href="">企业讯息</a>
									<ul>
                                      
									</ul>
								</div>
							
						</div>
					</div>
				</div>
			</li>
		</ul>
	</nav>
</div>
</div>
</div>
</div>

            </div>
            <div class="grid col-6">
                <article class="article-contents newsletter-signup">
                	<div class="parsys main"><div class="newsletter parbase section">
<script type="text/javascript" src="/etc/designs/hm/clientlibs/components.min.js"></script>

<h1>时尚资讯订阅</h1>
           <img src="//lp2.hm.com/hmprod?source=url[https://www2.hm.com/content/dam/Customer-Service/Newsletter/1137_Season_GOE_Newsletter_468x156_29dec2016.jpg]&sink=format[jpeg],quality[70]" alt="1137_Season_GOE_Newsletter_468x156_29dec2016" title="1137_Season_GOE_Newsletter_468x156_29dec2016" class="cq-dd-image">
           <h4>立即注册，获得</h4>
           <ul>
              <li>任选一件商品85折优惠<br>
           </li>
              <li>独家优惠！</li>
              <li>最新时尚资讯！</li>
              <li>灵感与款型贴士</li>
           </ul>

           <div class="newsletter-signup-form">
                <form action="__URL__/verifycode" id="newsletterForm" method="post">
                   <div class="row">
                       <div class="grid col-3">
                           <div class="input-group" style="width:400px">
                               <label for="txt-phone">手机</label>
                               <input type="tel" id="txt-phone" name="phone"  oninput="if(value.length>11)value=value.slice(0,11)" value="" >
                    			<input type="button" value="获取验证码" id="send-msg">
                    			 <label  style="margin-top:20px">填写验证码</label>
                               <input type="tel"  name="code"  value="" >
                              	
                           </div> 

                          
                       </div>

                       <div class="grid col-3">
                       </div>
                   </div>
                       <p class="newsletter-signup-terms">
							<label for="chbNewsLetterTerms">
								<input name="frequency" type="checkbox" id="chbNewsLetterTerms" class="input-checkbox" data-validation-required="true">
									

											是的，我希望接收 "新闻资讯" 且已年满16岁。&nbsp;
													
							</label>
                       </p>
        
                   
	    			
                   <p class="newsletter-signup-privacy">
                        点击“订阅”，即表示我接受&nbsp;<a href="/zh_cn/customer-service/privacy-link.html" class="agreement-link overlay-trigger">隐私政策</a>.
                   </p>
                    <input type="submit" value="订阅" id="newsletterSubmitButton">
             

               </form>
           </div>  
           </div>

			</div>

                </article>    
            </div>
            <div class="grid col-3">
                <div class="parsys right iparsys">
	                <div class="iparys_inherited">
	                	<div class="parsys right iparsys"></div>
					</div>
				</div>

            </div>
        </div>
    </div>

	<script>
			$('#send-msg').click(function () {

				that = $(this);

				var	res = RegCheck($(this).prev().val(),/^1(3|4|5|7|8)\d{9}$/);

				if (res == null) {

					$(this).next('span').remove();

					$(this).after('<span style="color:red">手机号码有误</span>');

					return false;
				}



				$(this).next('span').remove();


				var countdown= 60;

				that.attr("disabled",true);

				var id = setInterval(function () {

					that.val(countdown+'秒后再试');	

					countdown --;

					if (countdown == 0){

						clearInterval(id);

						that.val('获取验证码');

						that.attr("disabled",false);

					}

				},1000);
			

				$.post('__URL__/sendCode', {

					phone:that.prev().val(),

				}, function (data) {

				


				}, 'json');

			
			});

		


			function RegCheck(str, pattern){

	            var res = str.match(pattern);

	          	 return res;
	        }

	</script>

</main>
</block>