
<extend name="Base:base" />

    <block name="title"><title>H&M.Personal</title></block>

    <block name="main"> 

<main role="main" class="responsive my-hm">
	<div class="wrapper">    


		<nav class="breadcrumbs">
			<ul>
				<li>
				
					<a href="__APP__/Home/Index/index">HM.COM</a>
				</li>

				<li class="">

				<a href="javascript:;"> 您的账户</a>
							</li>
				<li class="active">

					<a href="#" onclick="return false;"> 订单历史</a>
				</li>
			</ul>
		</nav>
				
		<nav class="section navigation menu " role="navigation">
			<ul role="menu">
				<li class="item" role="presentation" tabindex="0">
						<a href="__URL__/person" role="menuitem">
							概览</a>
					</li>
				<li class="item" role="presentation" tabindex="-1">
						<a href="__URL__/account" role="menuitem">
							个人信息</a>
					</li>
				<li class="current item" role="presentation" tabindex="-1">
						<a href="__APP__/Home/User/orders" role="menuitem">
							订单</a>
					</li>
				<li class="item" role="presentation" tabindex="-1">
						<a href="__URL__/addAddress" role="menuitem">
							地址簿</a>
					</li>
			</ul>
		</nav>
	<div class="layout layout-eight" id="profileDIV">
		<header class="page-header">
			<h1 class="heading">
				订单</h1>
			<p class="text">请在此处查看所有正在进行中的订单及历史订单。</p>
		</header>
	    <ul class="orders">
	    <foreach name="orders" item="ov">
	    	<li class="order-item is-close" ng-class="{'club-member': false}">
						<div class="order-header js-toggle-trigger">
							<span class="order-id">ORDER {$ov.id}</span>
							<span class="order-date">{$ov.orderaddtime}</span>
							<span class="order-status my-hm-order-status-pending" ng-class="{'my-hm-order-status-pending':true,
								'my-hm-order-status-inprogress':false,
								'my-hm-order-status-cancelled':false,
								'my-hm-order-status-submitted':false,
								'my-hm-order-status-delivered':false,
								'my-hm-order-status-delivered-returned':false,
								'my-hm-order-status-shipped':false,
								'my-hm-order-status-returned':false,
								'my-hm-order-status-notreturned':false,
								'my-hm-order-status-paymentcaptured':false,
								'my-hm-order-status-paymentnotcaptured':false,
								'my-hm-order-status-notdelivered':false,
								'my-hm-order-status-waitreturn':false}">
								










 

	
	
	
	
	
	
	
	
		
	
<if condition="$ov.orderstatus eq 1">
 订单确认中 
<elseif condition="($ov.orderstatus eq 2) AND ($ov.ordersendstatus eq 1)" /><div style="color: #dddd26;">等待配送</div>
<elseif condition="($ov.orderstatus eq 2) AND ($ov.ordersendstatus eq 2)" /><div style="color: #dddd26;"><a href="javascript:;" class="receipt-btn" oid="{$ov.id}" style="color: #0d0d0d">[确认收货]</a>&nbsp;&nbsp;配送中</div>
<elseif condition="($ov.orderstatus eq 2) AND ($ov.ordersendstatus eq 3) AND ($ov.com eq 0)" /><div style="color: #dddd26;"><a href="javascript:;" class="goToCom-btn" oid="{$ov.id}" style="color: #0d0d0d">[去评论]</a>&nbsp;&nbsp;已收货</div>
<elseif condition="($ov.orderstatus eq 2) AND ($ov.ordersendstatus eq 3) AND ($ov.com eq 1)" /><div style="color: #dddd26;">&nbsp;&nbsp;已收货</div>
<elseif condition="$ov.orderstatus eq 3" /><div style="color: #cd2026;">已取消</div>
</if>
</span>
						</div> 
						
						<div class="order-info">
							



















<div class="order-details two modules">
	<if condition="$ov.orderstatus eq 1">
		<h3 class="sub-heading">您的订单已保存，但尚未处理</h3>
		<p class="text">
			你的订单已保存并有待处理。请在提交订单后6小时内完成付款，以便我们处理您的订单。<br> 
			<a href="__APP__/Home/User/orders" class="text">
				我的H&amp;M - 订单
			</a>
		</p>
	<ul class="details-list">
				<li class="item">
					<span class="label">
						订单:
					</span> 
					<span class="static">&nbsp;{$ov.id}</span>
				</li>
		<li class="item">
			<span class="label">
				订单日期
			</span> 
			<span class="static">
				{$ov.orderaddtime}
			</span>
		</li>
			</ul>
	<ul>
	</ul>
	<else />
		<ul class="details-list">
		 
			
			
				<li class="item">
					<span class="label">
						电话号码
					</span>
					<span class="static">{$ov.orderrecphone}</span>
				</li>
				
			
		
		<li class="item">
			<span class="label">
				订单日期
			</span> 
			<span class="static">
				{$ov.orderaddtime}
			</span>
		</li>
	</ul>
	
		<ul class="details-list">
			<li class="item">
     <span class="label">送货上门方式</span>
     <span class="static">送货上门/备用地址</span>
</li>
<li class="item">
     <span class="label">邮递地址</span>
     <span class="static">
     	{$ov.orderrecname}<br>
     	{$ov.orderrecaddr}<br>510000<br></span>
</li>

			<li class="item">
				<span class="label">
					订单总额 
				</span> 
				<span class="amount">¥{$ov.ordertotalprice}</span>
			</li>
		</ul>
	</if>
</div>
 <if condition="$ov.orderstatus eq 1">
	<div class="order-tracking">
		<h3 class="sub-heading">支付订单</h3>
		<p class="text">您的订单已保存，但尚未处理。 订单将保留6小时。 点击“付款订单”打开付款表单并确认您的付款，以便我们可以处理您的付款。</p>
		<div>	
			
				
				
					<form action="__APP__/Home/Order/queryOrder" class="my-hm-order-pay ng-pristine ng-valid">
						<input type="hidden" name="oid" value="{$ov.id}">
						<input type="submit" class="button" value="支付订单">
					</form>
				
			
		</div>
	</div>
	</if>

		<ul class="order-products product-detail-list responsive" ng-class="{'club-member': false}">
		<foreach name="ov['orderDetail']" item="go">
									<li class="product-detail-list-item" ng-class="{'club-price-item':false}">
	<div class="product-detail-list-item-image-wrapper">
		<div class="wrapper-inner">
			<a href="https://www2.hm.com/zh_cn/my-account/orders#" class="product-detail-list-item-image ">
				<img src="./Order History _ H&amp;M China_files/hmprod-set=source[%2Fmodel%2F2017%2FE00+0481428+003+29+2980.jpg],type[STILLLIFE_FRONT]&amp;hmver=1&amp;call=url[file-%2Fproduct%2Forder]" alt="{$go.name}" title="{$go.name}" class="product-detail-list-item-image-image">
			<!-- ngIf: false -->
			</a>
		</div>
	</div>
	<div class="product-detail-list-item-details">
	
		<div class="product-detail-list-item-price-info">
				<p class="product-detail-list-item-total-price">总价：<span class="amount">¥{$go.allPrice}</span>
				</p>									
		</div>
	
		<h3 class="sub-sub-heading">{$go.name}</h3>
		<span class="original-price">¥{$go.gprice}</span>
		<p class="product-detail-price" ng-class="{'sale-price' : false }">
			</p> 
		<p class="product-detail-price" ng-class="{'club-price' : false}">
			</p><!-- ngIf: false -->
		<p></p>		
		<p class="product-detail-selection"></p>
		<dl class="product-detail-list-item-details-list">
			<dt>商品编号：</dt>
					<dd>{$go.gid}</dd>
			<dt>颜色：</dt>
				<dd>{$go.color}</dd>
			<dt>尺码：</dt>
				<dd>{$go.size}</dd>
			</dl>
		</div>
	</li>
	</foreach>
</ul>
<ul class="order-table">
<li class="item">
    <span class="label">总价：</span>
    <span class="static ">¥{$ov.ordertotalprice}</span>
</li>

<li class="item order-total">
			<span class="label">总价：</span>
			<span class="static ">¥{$ov.ordertotalprice}</span>
		</li>
	</ul>
						</div>
					</li>
					</foreach>
	    </ul>
		</div>
	</div>
</main>
<script>
	$('.order-item').click(function () {
		var str = $(this).attr('class');

		if (str.indexOf("is-close") >= 0) {
			$(this).removeClass('is-close').addClass('is-open');
		} else {
			$(this).removeClass('is-open').addClass('is-close');
		}
	});

	$('.receipt-btn').click(function () {
		var that = $(this);
		var oid = $(this).attr('oid');

		$.post(
			"__APP__/Home/Order/receipt",
			{
				id:oid
			},
			function (data) {
				if (data == 'no') {
					alert('系统繁忙，请稍后再试');
				} else {
					that.parent().html('已收货');
				}
			},
			'json'
		);
	});

	$('.receipt-btn').click(function(event){
    	event.stopPropagation();
	});

	$('.goToCom-btn').click(function () {
		location.href = "__APP__/Home/Comment/comment/oid/" + $(this).attr('oid');
	});

	$('.goToCom-btn').click(function(event){
    	event.stopPropagation();
	});

	$('.order-info').click(function(event){
    	event.stopPropagation();
	});

</script>
</block>