<extend name="Backstage/base" />
<block name="title">
	<title>后台首页</title>
  <script src="__PUBLIC__/jscharts.js"></script>
</block>
<block name="content">



	
	
<!-- admin part start -->

<div class="admin">
	

	
	
   
   <div class="admin-index">
      <dl data-am-scrollspy="{animation: 'slide-right', delay: 100}">
        <dt class="qs"><i class="am-icon-users"></i></dt>
        <dd>{$aNum}</dd>
        <dd class="f12">团队数量</dd>
      </dl>
      <dl data-am-scrollspy="{animation: 'slide-right', delay: 300}">
        <dt class="cs"><i class="am-icon-area-chart"></i></dt>
        <dd>{$uNum}</dd>
        <dd class="f12">会员数量</dd>
      </dl>
      <dl data-am-scrollspy="{animation: 'slide-right', delay: 600}">
        <dt class="hs"><i class="am-icon-shopping-cart"></i></dt>
        <dd>{$num}</dd>
        <dd class="f12">商品数量</dd>
      </dl>
      <dl data-am-scrollspy="{animation: 'slide-right', delay: 900}">
        <dt class="ls"><i class="am-icon-cny"></i></dt>
        <dd>{$oNum}</dd>
        <dd class="f12">全部订单</dd>
      </dl>
      <dl data-am-scrollspy="{animation: 'slide-right', delay: 300}">
        <dt class="cs"><i class="am-icon-area-chart"></i></dt>
        <dd>{$todayUserNum}</dd>
        <dd class="f12">今日会员</dd>
      </dl>
      <dl data-am-scrollspy="{animation: 'slide-right', delay: 900}">
        <dt class="ls"><i class="am-icon-cny"></i></dt>
        <dd>{$todayOrderNum}</dd>
        <dd class="f12">今日订单</dd>
      </dl>
      <dl data-am-scrollspy="{animation: 'slide-right', delay: 900}">
      <a href="__CONTROLLER__/todayPrice">
        <dt class="ls"><i class="am-icon-cny"></i></dt>
        <dd style="font-size: 16px">￥{$todayPrice}</dd>
        <dd class="f12">今日收入</dd>
      </a>
      </dl>
      <dl data-am-scrollspy="{animation: 'slide-right', delay: 900}">
      <a href="__CONTROLLER__/allPrice">
        <dt class="ls"><i class="am-icon-cny"></i></dt>
        <dd style="font-size: 16px">￥{$allPrice}</dd>
        <dd class="f12">总&nbsp;&nbsp;收&nbsp;&nbsp;入</dd>
      </a>
      </dl>
    </div>

    <div id="graph">Loading graph...</div>

<script type="text/javascript">
  var myData = JSON.parse('{$pieData}');
  // var colors = ['#0673B8', '#0091F1', '#F85900'];
  var colors = [];
  for (i in JSON.parse('{$pieData}')) {
    colors.unshift('#'+Math.floor(Math.random(6)*1000000));
  }
  var myChart = new JSChart('graph', 'pie');
  myChart.setDataArray(myData);
  myChart.colorizePie(colors);
  myChart.setTitle('管理员部门人数占比 (%)');
  myChart.setTitleColor('#8E8E8E');
  myChart.setTitleFontSize(11);
  myChart.setTextPaddingTop(280);
  myChart.setPieValuesDecimals(1);
  myChart.setPieUnitsFontSize(9);
  myChart.setPieValuesFontSize(8);
  myChart.setPieValuesColor('#fff');
  myChart.setPieUnitsColor('#969696');
  myChart.setSize(616, 321);
  myChart.setPiePosition(308, 145);
  myChart.setPieRadius(95);
  myChart.setFlagColor('#fff');
  myChart.setFlagRadius(4);
  myChart.setTooltip(['Firefox','Including Mozilla and all Gecko browsers']);
  myChart.setTooltip(['IE6','Including IE5 and older browsers']);
  myChart.setTooltipOpacity(1);
  myChart.setTooltipBackground('#ddf');
  myChart.setTooltipPosition('ne');
  myChart.setTooltipOffset(2);
  myChart.draw();
</script>

   
   
   
<!-- admin part end --> 
   
</block>  
</block>